<h1>Submitted Data</h1>
<ul>
    <li><strong>Name:</strong> {{data.name}}</li>
    <li><strong>Email:</strong> {{data.email}}</li>
</ul>
<br><br>
<button type="button" onclick="formpl()">Back to Home</button>

<script>
    function formpl() {
        window.location.href = "/";
    }
</script>