@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

   /* Navigation Styles */
    /* Navigation Styles */
    .navbars {
        padding: 5px;
     
      }
      
      .navigate {
        display: flex;
      
        justify-content: space-between;
        background-image: url("/banner_bg.png");
        background-size: cover;
        align-items: center;
      }
      
      .logo {
        padding: 6px;
        width:70%;
        height: auto;
      }
     
      .logo-text {
        color: yellow;
        padding-left: 5px;
      }
      
      .web {
        position: relative;
      
        padding: 10px;
        
        text-decoration: none;
        font-size: 17px;
        overflow: hidden;
      }
      
      .web a {
        color: #f2f2f2;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 1% 20px;
      }
      
      .web a:hover {
        background-color: #ddd;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        color: black;
      }
    
    
      .menu-line {
        height: 4px;
        width: 20px;
        margin-bottom: 3px;
        margin-right: 20px;
        background-color: white;
      }
      
      .menu {
        display: none;
        cursor: pointer;
      }
      
      @media (max-width: 905px) {
        .web a {
          display: none;
        }
      
        .menu {
          display: block;
        }
        .logo{
          max-width:100%;
        }
        .navmobg{
          background-color: rgba(0, 0, 0, 0.6);
          height:100%;
          width:100%;
          position:absolute;
          display:none;
          z-index:2;
        }
      }
      @media (min-width:905px){
        .navmob{
          display:none;
        }
      }
      @media (max-width:520px){
        .navmob{
          width: 50%;
        }
      }
      @media (min-width:520px){
         .navmob{
          width: 250px;
        }
      }
      .webmob a{
        display:block;
        background:rgba(0, 0, 0, 0.8); 
        padding: 15px 0px 15px 0px ;
        text-align:center;
        text-decoration: none;
        color:white;
        font-size: 20px;
        border-radius: 5px;
        margin: 8% 20px;
        }
        .webmob a:hover{
          background:red;
          color:white;
        }
      .ltmob{background-image: url("/banner_bg.png");
      padding:3px;}
     
      .navmob {
        background-color: white;
        height:100%;
        
        position:absolute;
      
        border: solid 1px lightgreen;
      }
      *{z-index:1;position:relative;} 
    
    


.password.error{color:red;font-size:14px;}
.email.error{color:red;font-size:14px;}
body {
    background-image: url("/login.bg.jpeg");
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    
}
 /* for form validation */
 .fi .eror {
    color: rgb(255, 0, 0);
    font-size: 13px;
}

.fi .sucess {
    color: green;
    font-size: 13px;
}
.fi.success .eror{
    color: rgba(0, 0, 0, 0);
}

.fi.success input {

    border: solid 0.5px lightgreen;
}

.fi.success input:focus {

    box-shadow: 0px 0px 0px 4px rgb(0, 255, 0, 0.3);
}


.toggle-password-btn {
  background-color: transparent;
  border: none;
}

.toggle-password-btn i {
  font-size: 18px;
  color: #999;
}
#togglePassword{margin-left:10px;}



.fi.error input {

border: solid 0.5px #ff6347;

}
.fi.error input:focus {


box-shadow: 0px 0px 0px 4px rgb(255, 0, 0, 0.3);
}
.flex{position: relative;}.flex2{  position: absolute;
    top: 20%;
    right: 10px;
    }
/* Hide the default password eye */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button {
    display: none;
    visibility: hidden;
    pointer-events: none;
}


::selection {
    color: #fff;
    background: #53f0e3;
}
.containe{ align-items: center;
    justify-content: center;
    display:flex;
    border-radius: 5px;
    background-size: cover;
    height:100%;
    background-image:url('/blue.jpg');
}

.wrapper {
    width: 380px;
    padding: 40px 30px 50px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-out;
}
.wrapper:hover{
    transform: scale(1.03);
   

}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
}

.wrapper form {
    margin: 40px 0;
}

form .field {
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        margin-left: 0px;
    }
    20%,
    80% {
        margin-left: -12px;
    }
    40%,
    60% {
        margin-left: 12px;
    }
}

form .field .input-area {
    height: 50px;
    width: 100%;
    position: relative;
}

form input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
    border-color: #5372F0;
}

form .field.shake input,
form .field.error input {
    border-color: #dc3545;
}

.field .input-area i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-area .icon {
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
}

.input-area .error-icon {
    right: 15px;
    color: #dc3545;
}

form input:focus~.icon,
form .field.valid .icon {
    color: #5372F0;
}

form .field.shake input:focus~.icon,
form .field.error input:focus~.icon {
    color: #bfbfbf;
}

form input::placeholder {
    color: #bfbfbf;
    font-size: 17px;
}

form .field .error-txt {
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
}

form .field .error {
    display: none;
}

form .field.shake .error,
form .field.error .error {
    display: block;
}

form .pass-txt {
    text-align: left;
    margin-top: -10px;
}

.wrapper a {
    color: #5372F0;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: #5372F0;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: #2c52ed;
}

/* Footer Styles */
   .footer {
	   text-align: center;
	   padding: 1px;
	   margin:5px;
	   border-radius:15px;
   }
   
   .social-icons {
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   margin-bottom: 20px;
   }
   
   .social-icons a {
	   color: white;
	   margin: 0 10px;
	   font-size: 24px;
	   text-decoration: none;
	   align-items: center;
   }
   
   .copyright {
	   font-size: 14px;
	   color: #666;
   }
